# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
    - id: check-added-large-files
      args: ['--maxkb=5000']
    - id: end-of-file-fixer
    - id: check-case-conflict
    - id: detect-private-key
    - id: check-docstring-first
- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: 'v0.3.0'
  hooks:
    - id: ruff
- repo: https://github.com/commitizen-tools/commitizen
  rev: v3.16.0
  hooks:
    - id: commitizen
      stages: [commit-msg]
