site_name: Fancy Dataclass
site_author: Jeremy Silver
repo_url: https://github.com/jeremander/fancy-dataclass
edit_uri: tree/main/docs

theme:
  name: material
  features:
    - navigation.footer
    - navigation.path

extra_css:
  - stylesheets/extra.css

plugins:
  - mkdocstrings:
      handlers:
        python:
          import:
          - https://installer.readthedocs.io/en/stable/objects.inv
          options:
            filters: ["!^_[^_]", "_replace"]
  - search
  - gen-files:
      scripts:
        # see https://mkdocstrings.github.io/recipes/
        - docs/gen_ref_pages.py
  - literate-nav:
      nav_file: SUMMARY.md

markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

nav:
  - README.md
  - Dataclass mixins: mixin.md
  - JSON conversion: json.md
  - TOML conversion: toml.md
  - Config management: config.md
  - SQL persistence: sql.md
  - CLI parsing: cli.md
  - Subprocess calls: subprocess.md
  - Parametrized functions: func.md
  # defer to gen-files + literate-nav
  - Code reference: reference/

watch:
  - fancy_dataclass
