[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "fancy-dataclass"
dynamic = ["version"]
description = "Enhance dataclasses with additional features."
readme = "docs/README.md"
requires-python = ">=3.8"
license = "MIT"
keywords = ["dataclass", "cli", "orm", "serialize", "json"]
authors = [
  { name = "Jeremy Silver", email = "jeremys@nessiness.com" }
]
classifiers = [
  "Programming Language :: Python"
]
dependencies = [
  "sqlalchemy >= 2.0",
  "typing_extensions"
]

[project.urls]
Documentation = "https://github.com/jeremander/fancy-dataclass#readme"
Issues = "https://github.com/jeremander/fancy-dataclass/issues"
Source = "https://github.com/jeremander/fancy-dataclass"

[tool.hatch.build.targets.sdist]
exclude = ["TODO.txt"]

[tool.hatch.version]
path = "fancy_dataclass/__init__.py"

[tool.hatch.envs.doc]
dependencies = [
  "mkdocs",
  "mkdocs-material",
  "mkdocstrings",
  "mkdocs-gen-files",
  "mkdocstrings-python",
  "mkdocs-literate-nav",
]

[tool.hatch.envs.doc.scripts]
build = "mkdocs build --clean --strict"
serve = "mkdocs serve"
deploy = "mkdocs gh-deploy"

[tool.hatch.envs.lint]
dependencies = [
  "mypy>=1.0",
  "ruff>=0.3",
  "vermin"
]

[tool.hatch.envs.lint.scripts]
run-mypy = "mypy --install-types --non-interactive {args:fancy_dataclass tests}"
run-ruff = "ruff check"
run-vermin = "vermin {args:--eval-annotations --no-tips --exclude 'tests.test_json.StrEnum' fancy_dataclass}"
all = ["run-ruff", "run-vermin", "run-mypy"]

[tool.hatch.envs.test]
dependencies = [
    "numpy",
    "pytest",
    "pytest-cov",
    "pytest-stub"
]

[tool.hatch.envs.test.scripts]
test = "pytest {args:tests}"
test-cov = "coverage run -m pytest {args:tests}"
cov-report = ["- coverage combine", "coverage report"]
cov = ["test-cov", "cov-report"]

[[tool.hatch.envs.all.matrix]]
python = ["3.8", "3.9", "3.10", "3.11", "3.12"]

[tool.hatch.publish.index]
disable = true

[tool.coverage.run]
source_pkgs = ["fancy_dataclass", "tests"]
branch = true
parallel = true
omit = ["venv/*"]

[tool.coverage.report]
skip_covered = true
show_missing = true
exclude_lines = [
  "no cov",
  "if __name__ == .__main__.:",
  "if TYPE_CHECKING:",
]

[tool.commitizen]
tag_format = "v$major.$minor.$patch"

[tool.mypy]
exclude = ["docs/", "site/", "tmp.*"]
warn_unused_configs = true
strict = true

[[tool.mypy.overrides]]
module = "tests.*"
strict = false
disable_error_code = ["attr-defined", "call-arg", "comparison-overlap", "no-untyped-call", "no-untyped-def", "type-arg"]

[tool.pytest.ini_options]
addopts = "--verbose --cov=fancy_dataclass"
