target-version = "py310"

# rules to include

select = ["E", "F"]

extend-select = [
    "A",  # builtins
    "ANN",  # annotations
    "B",  # bugbear
    "C",  # mccabe (complexity)
    "C4",  # comprehensions
    "D",  # docstrings
    "I",  # isort (import order)
    "ICN",  # import conventions
    "PT",  # pytest style
    "PTH",  # pathlib
    "RET",  # return statements
    "RUF100",  # flag unused noqa
    "T10",  # debugger
    "UP",  # upgrades
]

# rules to ignore
ignore = [
    "ANN101",  # type annotation for 'self' in method
    "ANN102",  # type annotation for 'cls' in classmethod
    "ANN401",  # use of the 'Any' type
    "B027",  # empty method not marked with abstractmethod
    "B905",  # zip without explicit 'strict' parameter
    "D100",  # module-level docstring
    "D203",  # blank line before class docstring
    "D204",  # blank line after class docstring
    "D205",  # blank line between summary and description
    "D208",  # extra indentation in docstring
    "D209",  # newline before closing quotes
    "D213",  # multiline docstring at second line
    "D400",  # first line ending with period
    "D401",  # docstrings in imperative mood
    "D404",  # first word of docstring is "this"
    "D415",  # first line ending with punctuation
    "E501",  # line length
    "PT001",  # use of pytest.fixture (with no parens)
    "RET505",  # unnecessary 'else' after 'return'
    "UP006",  # deprecated collection types in annotations
    "UP007",  # | instead of Union
    "UP035"  # import replacements (collections.abc)
]
# ignore = ["B019", "E203", "E251", "E301", "E302", "E305", "E306", "E501", "E722", "E731", "E741", "W292", "W391"]

# paths to exclude
exclude = [
    ".venv",
    "tmp*"
]

# ignore unused imports in __init__.py files
ignore-init-module-imports = true

line-length = 10000

# where to search for first-party imports
# src = ["src", "test"]

[per-file-ignores]
"setup.py" = ["ANN", "D"]
"tests/*" = ["ANN", "D"]

[flake8-pytest-style]
parametrize-names-type = "list"

[isort]
# don't separate straight-style and 'from' imports for the same module
force-sort-within-sections = true
# force imports to the top of their section
force-to-top = ["package.utils"]
# patterns to separate into auxiliary blocks, in the order specified
# forced-separate = ["tests"]
# modules to consider first-party
# known-first-party = []
# number of lines after each import block?
lines-after-imports = 2
# whether to order imports by type, rather than strictly alphabetically
order-by-type = false
